:root {
    --leading-theme-color: #5A3D72FF;
    --second-leading-color: rgb(56, 21, 87);
    --third-leading-color: #00B4AE;
    --polaroid-icon-img: "grafiki_pod_strone/polaroid2.png";
}
*{
    scroll-behavior: smooth;
    font-family: "VCR OSD Mono";

}






