:root {
    --leading-theme-color: #C149DF;
    --polaroid-icon-img: "grafiki_pod_strone/polaroid2.png";
}
*{
    scroll-behavior: smooth;
    font-family: "VCR OSD Mono";

}
/*
.xdd {
    width: 300px;
    height: 200px;
    background-color: var(--leading-theme-color);
}*/


@media screen and (max-width: 428px){
    .logo, .menu_icon {
        width: 10%;
        height: 10%;
    }
    .navbar_buttons {
        opacity: 0;
    }
}
@media screen and (min-width: 429px){
    .logo, .menu_icon{
        width: 10%;
        height: 10%;
    }
    .menu_icon {
        opacity: 0;
    }
}

nav {
    padding: 20px 10px ;
    display: flex;

}

.navbar_b {
    border: hidden;
}

.navbar_buttons {
    display: flex;
    justify-content: space-around;

}