:root {
    --leading-theme-color: #C149DF;
    --second-leading-color: #391b54;
    --third-leading-color: #00B4AE;
    --polaroid-icon-img: "grafiki_pod_strone/polaroid2.png";
}
*{
    scroll-behavior: smooth;
    font-family: "VCR OSD Mono";

}
/*
.xdd {
    width: 300px;
    height: 200px;
    background-color: var(--leading-theme-color);
}*/






