{% extends "landingpage.html" %}

{% block title %}PROFOUND STUDIO | HOME{% endblock %}

{% block nav %}
<nav>
    <img onclick="link1()" class="logo box--from-bottom" src="{{url_for('static', filename='grafiki_pod_strone/polaroid_light4.png')}}" alt="logo">
    <div class="navbar_buttons">
        <button onclick="link1()" class="navbar_b">HOME</button>
        <button class="navbar_b but1">O MNIE</button>
        <button onclick="link3()" class="navbar_b">PORTFOLIO</button>
        <button class="navbar_b">KONTAKT</button>
    </div>
    <img class="menu_icon" src="{{url_for('static', filename='grafiki_pod_strone/menu.svg')}}" alt="menu">

</nav>
{% endblock %}

{% block typing %}
<div class="typ">
    <h1 id="text"></h1>
</div>
{% endblock typing %}

{% block rightnav %}
    <div class="rightnav">
        <img class="line1" src="{{url_for('static', filename='grafiki_pod_strone/1x/line.svg')}}" alt="linia">
        <img onclick="l1()" onmouseover="change()" class="inst" src="{{url_for('static', filename='grafiki_pod_strone/1x/inst.svg')}}"  alt="instagram">
        <img onclick="l2()" class="face" src="{{url_for('static', filename='grafiki_pod_strone/1x/face.svg')}}" alt="facebook">
        <img onclick="l3()" class="mail" src="{{url_for('static', filename='grafiki_pod_strone/1x/mail.svg')}}" alt="mail">
        <img class="line2" src="{{url_for('static', filename='grafiki_pod_strone/1x/line.svg')}}" alt="linia">
    </div>
{% endblock rightnav %}

{% block share %}

{% endblock share %}

{% block grid %}
    <div class="photos">

            <div class="category1">
                <div class="category">landscapes</div>
                <img class="xd" src="{{url_for('static', filename='zdjęcia_portfolio/city.png')}}" alt="landscapes">
            </div>
        <img class="x2d" src="{{url_for('static', filename='zdjęcia_portfolio/speed1.png')}}" alt="city">
        <img class="x3d" src="{{url_for('static', filename='zdjęcia_portfolio/produkt1.jpg')}}" alt="products">
        <img class="x4d" src="{{url_for('static', filename='zdjęcia_portfolio/gabrysia.png')}}" alt="caricatures">
        <img class="x5d" src="{{url_for('static', filename='zdjęcia_portfolio/zofia1.png')}}" alt="portraits">
    </div>
    <div class="more3"><button onclick="link3()" class="more">PORTFOLIO</button></div>
{% endblock grid %}

{% block advancedAnimation %}

        <button class="dot dot--left"></button>
        <button class="dot dot--top"></button>
        <button class="dot dot--right"></button>
        <button class="dot dot--bottom"></button>

            <div class="sentence1">accuracy</div>
            <div class="sentence2">reliability</div>
            <div class="sentence3">artistry</div>
            <div class="sentence4">uniqueness</div>

        <div class="pasek pasek--from-top"></div>
        <div class="pasek pasek--from-bottom"></div>

{% endblock advancedAnimation %}

{% block footer %}
    <footer>
        <div class="foot_icons">
            <img class="f_i" src="{{url_for('static', filename='grafiki_pod_strone/1x/instk2.svg')}}" alt="">
            <img class="f_f" src="{{url_for('static', filename='grafiki_pod_strone/1x/facek2.svg')}}" alt="">
        </div>
        <div class="f_rest">
            <div id="f_text1">Made with ♥ by Profound Studio</div>
                <div class="inputBox">
                    <input type="text">
                    <span>Email</span>
                </div>
            <div class="f_links">
                <a href="">Regulamin strony</a>
                <a href="">O mnie</a>
                <a href="{{'portfolio.html'}}">portfolio</a>
                <a href="">kontakt</a>
            </div>
        </div>
        <div class="f_bottom">PS@All Rights Reserved</div>
    </footer>
{% endblock footer %}