{% extends "landingpage.html" %}

{% block title %}PROFOUND STUDIO | HOME{% endblock %}

{% block nav %}
<nav>
    <img onclick="link()" class="logo box--from-bottom" src="{{url_for('static', filename='grafiki_pod_strone/polaroid_light4.png')}}"  alt="logo">
    <div class="navbar_buttons">
        <button onclick="link()" class="navbar_b">HOME</button>
        <button class="navbar_b but1">O MNIE</button>
        <button class="navbar_b">PORTFOLIO</button>
        <button class="navbar_b">KONTAKT</button>
    </div>
    <img class="menu_icon" src="{{url_for('static', filename='grafiki_pod_strone/menu.svg')}}" alt="menu">
</nav>
{% endblock %}

{% block typing %}
<div class="typ">
    <h1 id="text"></h1>
</div>
{% endblock typing %}

{% block rightnav %}
    <div class="rightnav">
        <img class="line1" src="{{url_for('static', filename='grafiki_pod_strone/1x/line.svg')}}" alt="linia">
        <img onclick="l1()" onmouseover="change()" class="inst" src="{{url_for('static', filename='grafiki_pod_strone/1x/inst.svg')}}"  alt="instagram">
        <img onclick="l2()" class="face" src="{{url_for('static', filename='grafiki_pod_strone/1x/face.svg')}}" alt="facebook">
        <img onclick="l3()" class="mail" src="{{url_for('static', filename='grafiki_pod_strone/1x/mail.svg')}}" alt="mail">
        <img class="line2" src="{{url_for('static', filename='grafiki_pod_strone/1x/line.svg')}}" alt="linia">
    </div>
{% endblock rightnav %}

