@keyframes appear{
    0%{
        transform: translateX(-100px);
    }
    50%{
        transform: translateY(-300px);
    }
    100%{
        transform: translateX(100px);
    }
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box{
    width: 200px;
    height: 200px;
    background-color: blue;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.box:hover{
    animation-play-state: paused;
}